<a href="https://colab.research.google.com/github/yk-Jeong/PY4E/blob/main/3%EC%A3%BC%EC%B0%A8_%EB%AF%B8%EC%85%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.boostcourse.org/study-py4e-2022/lecture/1426302?isDesc=false

Q1. 구구단을 출력하는 함수
- 조건 1. 홀수 번째만 출력하기
- 조건 2. 값이 50 이하인 것만 출력하기

In [78]:
number = int(input("몇 단?: "))

몇 단?: 9

In [80]:
def gugudan(number): 
  print(f'{number}단')
  for i in range(1, 10, 2):
    if (number * i) <= 50 :
      print(f'{number} X {i} = {number*i}')

In [81]:
gugudan(number)

9단
9 X 1 = 9
9 X 3 = 27
9 X 5 = 45

Q2. 가위바위보 업그레이드 버전 
- 
-

Q3. 2개의 숫자 사이에 있는 짝수와 중앙값 출력하기

In [14]:
n = int(input("첫 번째 수 입력: "))
m = int(input("두 번째 수 입력: "))
numbers = [i for i in range(n, m+1)]

첫 번째 수 입력: 1
두 번째 수 입력: 11

In [9]:
import statistics

In [16]:
def find_even_number(n, m):
  for i in range(n, m+1):
    if i % 2 == 0:
      print(f'{i} 짝수')
      if(numbers[i] == int(statistics.median(numbers))) and (numbers[i] % 2) == 0:
        print(f'{i} 중앙값')

In [17]:
find_even_number(1, 10)

2 짝수
4 짝수
6 짝수
8 짝수
10 짝수

Q4. 2개의 숫자 사이에 있는 소수의 개수 출력하기

In [120]:
n = int(input("첫 번째 수 입력: "))
m = int(input("두 번째 수 입력: "))
numbers = [i for i in range(n, m+1)]

첫 번째 수 입력: 1
두 번째 수 입력: 100

In [121]:
def count_prime_number(n, m):
  prime = m - 1
  for i in range(len(numbers)):
    for j in range(2, i):
      if numbers[i] % j == 0:
        prime -= 1
        break
  return prime

In [122]:
count_prime_number(n, m)

25