<a href="https://colab.research.google.com/github/yk-Jeong/PY4E/blob/main/5%EC%A3%BC%EC%B0%A8_%EB%AF%B8%EC%85%98_%EB%BF%85%EB%BF%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##5주차 미션: 8조

**참여자**: 이온 뿅뿅 citrus rydus

####Q1. 배스킨라빈스 31 게임 함수로 만들기
- 조건 1: 나의 턴에서는 숫자를 직접 입력하며 한 번 입력 후에 space 한 번으로 구분
- 조건 2: 나와 컴퓨터 모두 한 턴에 1회 ~ 3회까지만 숫자를 외칠 수 있음
- 조건 3: 외쳐진 숫자보다 1 큰 수만 외칠 수 있음 (ex: 5 다음엔 무조건 6)
  - 이 조건이 맞지 않을 경우 재입력

In [ ]:
def bs31():
    print("베스킨라빈스 써리원 게임")
    print("------------------")
    import random
    number = 0
    while True:
        # my turn
        my = input("My turn - 숫자를 입력하세요: ")
        my = my.split()
        if int(my[0]) != number + 1 or len(my) > 3:
            print("숫자를 제대로 입력하세요")
            continue
        # 숫자 2개 입력 후 연속된 숫자가 아닐 경우 제한
        if len(my) == 2:
            if int(my[1]) - int(my[0]) != 1:
                print("연속된 숫자만 입력하세요")
                continue
        # 숫자 3개 입력 후 연속된 숫자가 아닐 경우 제한
        if len(my) == 3:
            if int(my[2]) - int(my[1]) != 1 or int(my[1]) - int(my[0]) != 1:
                print("연속된 숫자만 입력하세요")
                continue

        number = int(my[-1])
        print(f"현재 숫자 : {number}")

        # 31을 넘겼는지 검사
        if number >= 31:
            print("패배")
            break

        # computer
        computer = []
        computer_turn_num = random.randint(1, 3)
        for i in range(computer_turn_num):
            number += 1
            # 컴퓨터가 31이 넘는 수를 외치면 31로 되돌리기
            if number > 31:
                number = number - 1
                continue
            computer.append(number)
            print(f"컴퓨터 : {computer[-1]}")
        print(f"현재 숫자 : {number}")
        print()
        # 31이 있는지 검사
        if 31 in computer:
            print("승리!")
            break
    print("게임 종료")

In [ ]:
bs31()

####Q2. 다음과 같이 학생들의 시험 답지가 있습니다. 그리고 답안지도 있습니다.

함수를 하나 만들어 채점을 하고 학생들의 점수를 출력하고 등수도 함께 출력해주세요.

<pre># 학생 답
s = ["김갑,3242524215",
"이을,3242524223",
"박병,2242554131",
"최정,4245242315",
"정무,3242524315"]

# 정답지
a = [3,2,4,2,5,2,4,3,1,2]'</pre>

In [ ]:
a = [3,2,4,2,5,2,4,3,1,2]
s = ["김갑,3242524215","이을,3242524223","박병,2242554131","최정,4245242315","정무,3242524315"]

# 빈 리스트 생성: 학생명(name), 답안(ans), 점수(scores)
name = [] 
ans = []
scores = []

# 1. 원본 데이터 리스트에서 학생명과 답안을 분리해 각각 다른 리스트에 저장 
for s in s:
  s = s.split(',')
  name.append(s[0])
  ans.append(s[1])

In [ ]:
ans

['3242524215', '3242524223', '2242554131', '4245242315', '3242524315']

In [ ]:
int(ans[0][1])

2

In [ ]:
a[0]

3

In [ ]:
def grader(student, answers):
  a = [3,2,4,2,5,2,4,3,1,2]
  s = ["김갑,3242524215","이을,3242524223","박병,2242554131","최정,4245242315","정무,3242524315"]

  # 빈 리스트 생성: 학생명(name), 답안(ans), 점수(scores)
  name = [] 
  ans = []
  scores = []

  # 1. 원본 데이터 리스트에서 학생명과 답안을 분리해 각각 다른 리스트에 저장 
  for s in student:
    s = s.split(',')
    name.append(s[0])
    ans.append(s[1])

  # 2. 문제당 10점으로 채점 
  for a in ans:
    score = 0 # 기본 점수는 0에서 시작
    for i in range(len(a)):
      if int(a[i]) == answers[i]: # 정답과 동일하면
        score += 10 # 10점을 추가 
    scores.append(score)

  # 3. name 리스트와 scores 리스트를 결합 
  for i in range(len(name)):
    name[i] = str(scores[i]) + name[i]
  
  # 4. 점수를 기준으로 내림차순 정렬
  name.sort(reverse = True)

  for s in range(len(name)):
    print(f'학생:{name[s][2:]} 점수: {name[s][:2]} {s + 1}등')

In [ ]:
grader(s, a)

학생:정무 점수: 90 1등
학생:김갑 점수: 80 2등
학생:이을 점수: 70 3등
학생:박병 점수: 50 4등
학생:최정 점수: 40 5등

####Q3.  숫자 맞히기 게임
- 조건 1: 숫자는 0 ~ 100까지 숫자를 3개 만듭니다(중복 불가)
- 조건 2: 5회, 10회까지 정답을 못 맞히면 최솟값, 최댓값에 대한 힌트를 줍니다.
- 조건 3: 정답을 맞히면, 맞힌 정답이 최솟값인지, 중간값인지, 최댓값인지 알려줍니다.

In [ ]:
def guess_number():
  # 숫자 만들기
  import random 

  # 컴퓨터가 예측한 숫자를 담을 리스트 생성
  num_list = []

  # 3번 생성한 난수들을 리스트에 정리
  for _ in range(3):
    number = random.randint(0, 100)
    while number in num_list:
      number = random.randint(0, 100)
    num_list.append(number) 

  tries = 1 #시도 횟수 
  mynum_list = [] # 내가 예측에 사용한 숫자들을 담을 리스트 생성 
  count = 3 # 루프의 횟수 지정을 위한 변수 설정: 숫자가 총 3개이므로 3번 검증해야 함

  while count > 0:
    print(f'{tries}차 시도')
    my_number = int(input("숫자를 예측해 보세요. "))
    if my_number in mynum_list:
      print("이미 예측했던 숫자입니다")
      continue
    else:
      mynum_list.append(my_number)
      
  
    if my_number not in num_list: 
      print(f'{my_number}는 없습니다.')

      # 5번 예측해서 정답을 못 맞히면 최솟값 힌트
      if tries == 5: 
        if my_number > min(num_list):
          print(f'최솟값은 {my_number}보다 작습니다.')
        else:
          print(f'최솟값은 {my_number}보다 큽니다.')

      # 10번 예측해서 정답을 못 맞히면 최댓값 힌트 
      if tries == 10:
        if my_number > max(num_list):
          print(f'최댓값은 {my_number}보다 작습니다.')
        else:
          print(f'최댓값은 {my_number}보다 큽니다.')

      # 시도 횟수 증가
      tries += 1 
      continue

    else: # 맞혔을 경우 회문을 탈출하므로 break 
      if my_number == min(num_list):
        print(f'숫자를 맞히셨습니다! {my_number}는 최솟값입니다.')
        tries += 1 
        break
      elif my_number == max(num_list):
        print(f'숫자를 맞히셨습니다! {my_number}는 최댓값입니다.')
        tries += 1 
        break
      else:
        print(f'숫자를 맞히셨습니다! {my_number}는 중간값입니다.')
        tries += 1 
        break

    count -= 1

  print(f'게임 종료.\n{tries - 1}번 시도만에 예측 성공')

In [ ]:
guess_number()

1차 시도
숫자를 예측해 보세요. 12
12는 없습니다.
2차 시도
숫자를 예측해 보세요. 66
66는 없습니다.
3차 시도
숫자를 예측해 보세요. 98
98는 없습니다.
4차 시도
숫자를 예측해 보세요. 33
33는 없습니다.
5차 시도
숫자를 예측해 보세요. 67
67는 없습니다.
최솟값은 67보다 큽니다.
6차 시도
숫자를 예측해 보세요. 25
숫자를 맞히셨습니다! 25는 최솟값입니다.
"게임 종료.
6번 시도만에 예측 성공

####Q4. 날짜를 넣으면 100일째가 몇 월 며칠인지 계산해 주는 함수
- 조건 1: "오늘부터 1일"이기 때문에 날짜를 계산할 때 오늘을 포함
- 조건 2: 몇 년도인지 구분하지 않고 윤년도 고려하지 않고 2월은 무조건 28일

In [ ]:
def after_100(mon, day, week):
  # 요일을 리스트화
  weekday = ['월', '화', '수', '목', '금', '토', '일']

  # 각 달이 며칠까지 있는지 리스트화
  month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

  # 인덱스는 0부터 시작하지만 달은 1월부터 시작하므로, 계산을 위해 -1 
  newmon = mon - 1
  newday = day + 99

  while newday > 0:
    newday = newday - month[newmon]
    newmon += 1
    if newmon >= 12: # 월의 숫자가 12를 넘기지 않도록 처리
      newmon = 0
    else:
      pass
  
  newday = newday + month[newmon] - 1

  # 일요일 다음은 월요일로 돌아갈 수 있도록 처리 
  new_weekday = weekday.index(week) + (100 % 7) - 1
  if new_weekday > 6:
    new_weekday = new_weekday - 5

  new_weekday = weekday[new_weekday]

  return print(f'{mon}월 {day}일 {week}요일부터 100일째는 {newmon}월 {newday}일 {new_weekday}요일')

In [ ]:
after_100(6, 21, '월')

6월 21일 월요일부터 100일째는 9월 28일 화요일