<a href="https://colab.research.google.com/github/yk-Jeong/PY4E/blob/main/6%EC%A3%BC%EC%B0%A8_%EB%AF%B8%EC%85%98_%EB%BF%85%EB%BF%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Q1.  고려시대와 조선시대 왕 이름 중에서 고려에도 있고 조선에도 있는 이름 찾기

In [ ]:
korea_king = "태조,혜종,정종,광종,경종,성종,목종,현종,덕종,정종,문종,순종,선종,헌종,숙종,예종,인종,의종,명종,신종,희종,강종,고종,원조,충렬왕,충선왕,충숙왕,충혜왕,충목왕,충정왕,공민왕,우왕,창왕,공양왕"
chosun_king = "태조,정종,태종,세종,문종,단종,세조,예종,성종,연산군,중종,인종,명종,선조,광해군,인조,효종,현종,숙종,경종,영조,정조,순조,헌종,철종,고종,순종"

In [ ]:
def king(korea_king, chosun_king):

  # 데이터 형식을 문자열(str)에서 리스트로 변경
  korea_king = korea_king.split(',')
  chosun_king = chosun_king.split(',')
  
  # 중복되는 왕 이름을 저장해 줄 리스트 생성
  king_name = []

  # 고려의 왕이 더 많으므로, 고려왕 리스트를 기준으로 
  for i in range(len(korea_king)):
    name = korea_king[i]
    if name in korea_king and name in chosun_king:
      # 중복이 있을 경우 제외 
      if name not in king_name:
        print(f'조선과 고려에 모두 있는 왕 이름: {name}')
        king_name.append(name)

  print(f'조선과 고려에 모두 있는 왕 이름은 총 {len(king_name)}개입니다.')

In [ ]:
king(korea_king, chosun_king)

조선과 고려에 모두 있는 왕 이름: 태조
조선과 고려에 모두 있는 왕 이름: 정종
조선과 고려에 모두 있는 왕 이름: 경종
조선과 고려에 모두 있는 왕 이름: 성종
조선과 고려에 모두 있는 왕 이름: 현종
조선과 고려에 모두 있는 왕 이름: 문종
조선과 고려에 모두 있는 왕 이름: 순종
조선과 고려에 모두 있는 왕 이름: 헌종
조선과 고려에 모두 있는 왕 이름: 숙종
조선과 고려에 모두 있는 왕 이름: 예종
조선과 고려에 모두 있는 왕 이름: 인종
조선과 고려에 모두 있는 왕 이름: 명종
조선과 고려에 모두 있는 왕 이름: 고종
조선과 고려에 모두 있는 왕 이름은 총 13개입니다.

####Q2. 보너스 대상자와 면담 대상자를 고르는 함수
- 조건 1: 예비 보너스 대상자는 평균 실적 1, 2등
- 조건 2: 예비 면담 대상자는 평균 실적 5, 6등 입니다.
- 조건 3: 보너스 대상자의 평균 실적이 5보다 크지 않으면 보너스 대상자에서 제외
- 조건 4: 면담 대상자의 평균 실적이 3보다 크면 면담 대상자에서 제외

In [ ]:
# 이름, 실적
member_names = ["갑돌이", "갑순이", "을돌이", "을순이", "병돌이", "병순이"]
member_records = [[4,5,3,5,6,5,3,4,1,3,4,5],[2,3,4,3,1,2,0,3,2,5,7,2], 
           [1,3,0,3,3,4,5,6,7,2,2,1],[3,2,9,2,3,5,6,6,4,6,9,9],
           [8,7,7,5,6,7,5,8,8,6,10,9],[7,8,4,9,5,10,3,3,2,2,1,3]]

In [ ]:
# 평균 계산을 위해 numpy 호출
import numpy as np

In [ ]:
def sales_management(memver_names, member_records):
  
  # 평균값 계산을 위한 리스트 생성 
  avg_records = []
  for i in range(len(member_records)):
    avg_records.append(np.mean(member_records[i]))

  # 멤버의 이름과 실적을 하나의 dictionary로 병합
  records = dict(zip(avg_records, member_names))

  # 평균 점수를 기준으로 오름차순/내림차순 정렬한 두 개의 리스트 생성
  bonus = sorted(records.items(), key = lambda x:x[0])
  interview = sorted(records.items(), key = lambda x:x[0], reverse=True)


  # bonus: 평균 실적이 5보다 큰 사람이 보너스 대상자
  for i in range(len(bonus)):
    if bonus[i][0] > 5:
      print(f'보너스 대상자 {bonus[i][1]}')

  print()

  # interview: 앞에서 2번째까지 중 평균 실적이 3보다 작거나 같은 사람이 보너스 대상자
  for i in range(len(interview)):
    if interview[i][0] <= 3:
      print(f'면담 대상자 {interview[i][1]}')

In [ ]:
sales_management(member_names, member_records)

보너스 대상자 을순이
보너스 대상자 병돌이

면담 대상자 갑순이

####Q3. 주식의 종목과 수익률, 종목별 수익률이 높은 순서대로 소수 둘째 자리까지 출력하는 함수

In [71]:
stocks = "삼성전자/10/85000,카카오/15/130000,LG화학/3/820000,NAVER/5/420000"
sells = [82000, 160000, 835000, 410000]

In [72]:
def stock_profit(stocks, sells):
  stocks = stocks.split(',')
  stock_list = []
  new_stock_list = []
  for i in range(len(stocks)):
    stock_list.append(stocks[i].split('/'))

  for i in range(len(stock_list)):
    stock_name = stock_list[i][0]
    ratio = (sells[i] - int(stock_list[i][2])) / int(stock_list[i][2]) * 100

    new_stock_list.append((stock_name, ratio))
    new_stock_list = sorted(new_stock_list, key = lambda x:-x[1])

  for i in range(len(new_stock_list)):
    print(f'{new_stock_list[i][0]}의 수익률 {new_stock_list[i][1]:.3}')

In [73]:
stock_profit(stocks, sells)

카카오의 수익률 23.1
LG화학의 수익률 1.83
NAVER의 수익률 -2.38
삼성전자의 수익률 -3.53

####Q4. 회원 정보를 출력하고 할인 쿠폰을 받을 회원이 누구인지 출력하는 함수
- 조건 1: 8회 이상 구매한 회원이 VIP 대상
- 조건 2: 전화번호가 없으면 쿠폰을 받을 수 없음
- 조건 3: 전화번호가 없으면 000-0000-0000으로 출력할 것

In [ ]:
# 6명의 회원이고 "아이디,나이,전화번호,성별,지역,구매횟수" 순서로 입력되어 있음
info = """abc,21세,010-1234-5678,남자,서울,5,
        cdb,25세,x,남자,서울,4,
        bbc,30세,010-2222-3333,여자,서울,3,
        ccb,29세,x,여자,경기,9,
        dab,26세,x,남자,인천,8,
        aab,23세,010-3333-1111,여자,경기,10"""

In [ ]:
def good_customer(info):

ValueError: ignored

In [ ]:
good_customer(info)